<html>
<head>
    <title>Criar Pessoa</title>
</head>
<body>
    <h1>Criação de Pessoa</h1>
    <a href="{% url 'pessoas_pessoa_list' %}">Ir para listagem de pessoas</a>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Criar</button>
    </form>
</body>
</html>