<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pessoas - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
    <header class="hero">
        <div class="hero-body">
            <h1 class="title">Pessoas</h1>
            <h2 class="subtitle">Workshop Backend - Fábrica de Software</h2>
        </div>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>