{% extends 'pessoas/layout.html' %}
{% block title %}
Listagem
{% endblock %}
{% block content %}
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <td>ID</td>
                <td>Foto</td>
                <td>Nome</td>
                <td>Idade</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in pessoas %}
                <tr>
                    <td>{{ pessoa.id }}</td>
                    <td>
                        {% if pessoa.foto %}
                            <img src="{{ pessoa.foto.url }}" style="width: 50px; heigth: 50px" />
                        {% endif %}
                    </td>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.idade }}</td>
                    <td><a class="button is-danger" href="{% url 'pessoas_pessoa_delete' pessoa.id %}">Excluir</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}